include README.md
include LICENSE*
include pyproject.toml
include setup.py
recursive-include rsstui *.py
recursive-include rsstui/styles *.tcss
exclude venv/
exclude .git/
exclude *.pyc
exclude __pycache__/
global-exclude *.pyc
global-exclude __pycache__/
